/* (A) GRID CONTAINER */
#grid-col {
  display: grid;
  grid-template-columns: auto auto;

  /* WE CAN ALSO SPECIFY EXACT PIXELS, PERCENTAGE, REPEAT
  grid-template-columns: 200px 40%;
  grid-template-columns: repeat(2, 250px); */
}

/* (B) GRID CELLS */
div.cell {
  background: LightBlue;
  border: 1px solid Blue;
  padding: 10px;
}

/* (C) RESPONSIVE - 1 COLUMN ON SMALL SCREENS */
@media screen and (max-width: 640px) {
  #grid-col { grid-template-columns: 100%; }
}
